@use "../utils/variables" as variables;

.site-footer {
  padding-block: 1.25rem;
  text-align: center;
  border-top: 1px solid rgba(15, 23, 42, 0.9);

  &__inner {
    @extend .page-container;
    padding-block: 0.75rem;
  }

  &__text {
    font-size: 0.8rem;
    color: $color-muted;
  }
}
