@import "../utils/variables";

.skills {
  &__groups {
    display: grid;
    gap: 1.5rem;

    @media (min-width: $bp-tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__group {
    background-color: rgba($color-surface, 0.25);
    border-radius: $radius-md;
    border: 1px solid $color-border;
    padding: 1.2rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
    font-size: 1rem;

    i {
      margin-right: 8px;
      font-size: 1.1rem;
      line-height: 1;
    }

    span {
      display: inline-block;
    }
  }
}
