@import "../utils/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body.page {
  margin: 0;
  font-family: $font-body;
  background-color: $color-bg;
  color: $color-text;
  line-height: 1.6;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.skip-link {
  position: absolute;
  left: -9999px;
  top: 0;
  padding: 0.75rem 1rem;
  background-color: $color-accent;
  border-radius: 0 0 $radius-sm $radius-sm;
  color: #020617;
  z-index: 999;

  &:focus {
    left: 0.5rem;
  }
}
